
.sidebar {
  position: relative;
}

.sidebar-open {
  padding: 10px;
}

.sidebar-open-button {
  cursor: pointer;
  font-size: 18px;
}

.sidebar-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background: #f4f0f0;
  transform: translateX(-100%); 
  transition: transform 0.3s ease;
}

.sidebar-panel.open {
  transform: translateX(0);
} 
